{% extends 'movie/base.html' %}

{% block content %}
<main class="content">
	<div class="single">

		<section class="trailer">
			<h3>Trailer</h3>
			<div class="trailer_frame">
				<iframe width="560" height="315" src="{{object.trailer}}" frameborder="0" allowfullscreen></iframe>
			</div>
		</section>

		<section class="movie">
			<img src="{{object.image.url}}">
			<ul>
				<li>{{object}}</li>
				<li>{{object.description}}</li>
				<li><a href="genre.html">{{object.category}}</a></li>
				<li><a href="cast.html">{{object.cast}}</a></li>
				<li>{{object.views_count}} Views</li>
			</ul>
		</section>
		<section class="links">
			<h3>Links</h3>
			<ul class="wlinks">
				<li><a>Watch</a></li>
				{% for link in links %}
					{% if link.link_type == 'W' %}
					<li><a href="{{link.link}}">{{link}}</a></li>
					{% endif %}
				{% endfor %}
				<li><a>Download</a></li>
				{% for link in links %}
					{% if link.link_type == 'D' %}
					<li><a href="{{link.link}}">{{link}}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		</section>

		<section class="related">
			<h3>Related movies</h3>
			<div class="relatemovie">
				{% for  in  %}{% endfor %}
				<a href="#"><img src="images/2.jpg"></a>
				<a href="#"><span class="relatedname">John Wick</span></a>
			</div>
		</section>

		<section class="comments">
			<h3>Comments</h3>
		</section>
	</div>
</main>
{% endblock content %}